@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
body{
    margin: 0;
    font-family:'Amatic SC';
    background: -webkit-gradient(linear, left top, left bottom, from(#f7ddad), to(#4b422f));
    /* background: -moz-linear-gradient(top, #e7d08f, #441650); */
    /* cursor: url(nat989.cur), default; */
    /* background-color: rgb(211, 197, 158); */

    text-decoration: none;
}
.cab{
    justify-content:center;
    display: flex;
    flex-wrap: wrap;
}

.left-login{
    display: flex;
    justify-content:center;
    flex-direction: column;
    
}
.left-login H1{
    font-size:80px;
    margin-top: 0%;
    margin-left: 13%;
    color: rgb(78, 56, 9);
    
}
.left-login H1:hover{
    transition:2s;  
    font-size:83px;
    margin-top: 0%;
    margin-left: 13%;
    color: rgb(255, 255, 255);
    
}

.left-login img {
    width: 80%;
    margin-left: 102px;
}

.container {
    display: flex;
    justify-content: center;
}
.container img {
    width: 50%;
}
.container h2 {
    margin-top: 20%;
    margin-left: 20%;
    text-decoration: none;
    color: aliceblue;
}

.child1 h2 {
    margin-top: 40%;
    margin-left: 60%;
    text-decoration: none;
}
.cont{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: aliceblue;
    margin:20%;
    margin-top: 0%;

}
.cont H1{
    font-size:70px
}
.cont H1:hover{
    transition:2s;
    font-size:73px;
    color:rgb(78, 47, 5);
}
.cont h2{
    font-size:40px
}
.cont img{
    width:50%;
    margin-left: 20%
}

@media screen and (max-width: 800px)  {    
    .left-login H1{
        font-size:40px;
        margin-top: 0%;
        margin-left: 12%;
        
    }
    .left-login img {
        width: 80%;
        margin-left:10%;
    }
    .container h2 {
        margin-top: 4%;
        margin-left: 0%;
    }
    .cont H1{
        font-size:60px
    }

    
}